streamlit
openai
pypdf
docx2txt

faiss-cpu
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface

sentence-transformers
langsmith






