streamlit
openai
pypdf
faiss-cpu
python-dotenv

langchain<0.3
langchain-core<0.3
langchain-community<0.3
langchain-text-splitters
langchain-google-genai
langchain-huggingface==0.2.2

sentence-transformers
langsmith
